<div class="card">
    <div class="card-header text-center">
        <h5 class="card-title">Voluptates Corporis Placeat</h5> 
        <small class="small text-muted">January 24 2019 
            <span class="px-2">-</span>
            <a href="#" class="text-muted">32 Comments</a>
        </small>
    </div>
    <div class="card-body">
        <div class="blog-media">
            <img src="assets/imgs/blog-6.jpg" alt="" class="w-100">
            <a href="#" class="badge badge-primary">#Salupt</a>     
        </div>  
        <p class="my-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos saepe dolores et nostrum porro odit reprehenderit animi, est ratione fugit aspernatur ipsum. Nostrum placeat hic saepe voluptatum dicta ipsum beatae.</p>
    </div>
    
    <div class="card-footer d-flex justify-content-between align-items-center flex-basis-0">
        <button class="btn btn-primary circle-35 mr-4"><i class="ti-back-right"></i></button>
        <a href="/article" class="btn btn-outline-dark btn-sm">READ MORE</a>
        <a href="#" class="text-dark small text-muted">By : Joe Mitchell</a>
    </div>                  
</div>